[2012-05-02 02:16] wkeese opened #1 "exception accessing member variable in ternary"
The parser is failing on this code in dijit.Declaration:

declare(..., { ...
    mixins: [],
    ...
    buildRendering: function(){
            this.mixins = this.mixins.length ? ...
});

It doesn't like this.mixins.length since it thinks that this.mixins is null.   Not sure how to deal w/that, other than rewriting it like:

[code]

The stack trace is:

ERR: dijit/t.js:72:31 TypeError: Cannot con

[2012-05-02 02:34] wkeese opened #2 "problem with path with ../"
When I run:

$ ./parse.sh ../trunk/dojo

the parser gets confused about paths, leading to an error:

ERR: ../trunk/dojo/_base/array.js:1:41 Error: ENOENT, no such file or directory '../trunk/dojo/trunk/dojo/_base/kernel.js'

Notice how "trunk/dojo" is repeated in the path.

[2012-05-02 02:42] wkeese opened #3 "problem with dojo/main --> ./_base/kernel dependency"
This is where I got stuck trying to fix up errors in the dojo/ and dijit/ files that trip up the doc parser:

mac:docparse bill$ ./parse.sh dojo/main.js
...
debug:   Resolving dependency ./_base/kernel
debug:   Getting module dojo./_base/kernel
debug:   Module not in cache, retrieving by file
ERR: dojo/main.js:18:2 Error: ENOENT, no such file or directory 'dojo./_base/kernel.js'

(Notice how it's

[2012-05-02 10:41] wkeese commented on #1
Actually, I decided to just check in that workaround.    There are much bigger fish to fry than fixing this bug right away.

[2012-05-16 04:10] csnover commented on #3
Fixed in de6f994.

[2012-05-16 04:10] #3 closed, assigned to nobody

[2012-05-16 04:12] csnover commented on #2
This behaviour is expected since you’re trying to access files outside the base path of the parser. If you set `basePath` in config.js to `../trunk/`, it should work correctly.

[2012-05-16 04:12] #2 closed, assigned to nobody

[2012-05-16 04:32] wkeese commented on #2
I tried that, but it doesn't seem to have any effect:

My config file has:

[code]

My output is:

mac:docparse bill$ ./parse.sh dijit
debugger listening on port 5858
WARN:  Attempt to get undefined variable "String.prototype"
WARN:  Attempt to get undefined variable "Array.prototype"
WARN:  Attempt to get undefined variable "Function.prototype"
WARN:  Attempt to get undefined variable "Function"

[2012-05-18 06:24] csnover commented on #2
How is it with the latest commit?

[2012-05-18 06:42] wkeese commented on #2
Cool, that seems to be working much better.   I'm getting an error on
TimeTextBox but presumably unrelated to this old problem.  Thanks for the
excludePaths enhancement too.

[2012-05-25 01:41] wkeese opened #7 "dijit/_WidgetBase missing attributes"
Seems that "open" and "duration" aren't showing up in the doc for dijit/_WidgetBase:

./parse.sh ../trunk/dijit/_WidgetBase.js 2>warnings.txt |sed -n '/<javascript/,$p' > WidgetBase.xml

[2012-05-25 04:08] csnover commented on #7
I don’t understand. `open` and `duration` aren’t properties on _WidgetBase or any of its parents, so they don’t show up there. Where do you think these would be coming from?

[2012-05-25 05:11] wkeese commented on #7
Sounds like I confused Dialog.js with WidgetBase.js. (I was looking at both
of them at the same time.).  I'll double check later.

On Friday, May 25, 2012, Colin Snover wrote:

[2012-05-25 05:33] csnover commented on #7
OK. open and duration are showing up on dijit/Dialog just fine after some changes I made earlier this evening so let me know what you are experiencing.

[2012-05-25 06:13] wkeese commented on #7
Yup, it's working for me too, ignore this ticket.

[2012-05-25 06:13] #7 closed, assigned to nobody

[2012-06-06 00:38] wkeese opened #12 "example code sometimes retains vertical bars"
Sometimes  the vertical bars end up in the XML output file

For example, when parsing dojo/_base/window.js, the definition for doc:

[code]

It turns into:

[code]

Also some output from the Deferred modules:

[code]

cc @ttrenka

[2012-06-06 00:43] wkeese opened #13 "tags not picked up"
From dijit/_WidgetBase.js, the [const] on:

[code]

does not seem to get picked up.   Output is:

[code]

Same for [readonly], [protected], etc., on srcNodeRef and baseClass.

[2012-06-06 00:48] wkeese opened #14 "private tags on methods not picked up"
From _WidgetBase, postscript() has a private tag:

[code]

but it's not picked up:

[code]

Likewise for other tags, but I filed #20 for that issue since you already closed this ticket.

cc @pruzand

[2012-06-06 00:56] wkeese opened #15 "parameter types as global variables confuse parser"
In dojox/charting/action2d/Base.js there is:

[code]

Since the parser can't resolve dojox.charting.chart or dojox.charting.plot2d.Base it's supposed to pass them through to the XML file as-is, right?

But rather,they are listed as type="undefined":

[code]

cc @cjolif

[2012-06-06 00:57] csnover commented on #13
Where do you expect these to go? They don’t show up in details.xml in 1.5 either.

[2012-06-06 01:04] wkeese opened #16 "local variables for kwargs not inlined"
For dijit/form/_CurrencyTextBox, __Constraints is defined as a local variable:

[code]

Therefore, when that type definition is used:

[code]

It's supposed to be inlined into a  UL LI ... type list in the description, right?   It's not:

[code]

[2012-06-06 01:09] wkeese opened #17 "attributes for __IoCallbackArgs not found"
In dojo/_base/xhr.js,  __IoCallbackArgs is defined as:

[code]

and then referenced for the ioArgs parameter:

[code]

However, that shows the parser thinks that __IoCallbackArgs doesn't have any attributes:

[code]

[2012-06-06 01:30] wkeese commented on #13
Oh, that's surprising I assumed scalar tags were showing up in 1.5, because Neil told me to write tags for scalar attributes like that.

I looked at the 1.5 api.xml file and it uses a `tags` attribute for random tags on methods, and a `private` attribute for private methods:

[code]

IIRC Neil's code started out only handling specific tags and then Pete tried to expand it to handle any tags, so th

[2012-06-06 01:48] ttrenka commented on #13
IIRC the only things made actual attributes from that kind of tagging in the previous parser was the private attribute; I think that existed before the tags implementation.

From what I remember, if a tags attribute actually showed up, it was basically whatever was defined in that attribute (which you can probably see with the tags="protected." in the _getAltViewNode, above.

I have no preference,

[2012-06-06 05:24] csnover commented on #14
Added private tag support in df733f7.

[2012-06-06 05:24] #14 closed, assigned to nobody

[2012-06-06 05:24] csnover commented on #13
Well I added the private <del>tag</del> attribute in df733f7, I don’t know why the other tags are useful for at the moment though. Does the viewer actually do something with any other ones (not “can we add this” but “does it already exist”)? If not I would just opt to leave them out for now and do something else at phase 2.

[2012-06-06 06:28] csnover commented on #15
8116fc9 expands the valid characters for a type annotation to include . and / which fixes this issue.

[2012-06-06 06:28] #15 closed, assigned to nobody

[2012-06-06 06:34] csnover commented on #12
Fixed in d79ccce.

[2012-06-06 06:34] #12 closed, assigned to nobody

[2012-06-06 06:38] csnover commented on #12
fwiw i consider this a bug with the docblocks which are putting the pipes marking them as examples wherever they want instead of flush with the property. there should be more consistency defined here.

[2012-06-06 06:49] csnover commented on #16
Fixed in d6b0fe1. One of these days I will remember to directly reference the issue number in the commit message…

[2012-06-06 06:49] #16 closed, assigned to nobody

[2012-06-06 07:10] #17 closed, assigned to nobody

[2012-06-06 07:15] wkeese commented on #16
Cool, it's working for me.

[2012-06-06 07:18] wkeese commented on #15
Cool, they are showing up now, although there's a stray question mark:

[code]

I guess the source code should be modified to only have a question mark at the end of the list of possible types?

[2012-06-06 07:28] wkeese commented on #13
Thanks, the private tag looks like it's working to me.   I'll assume your question above is for @ttrenka; as far as I can tell the current viewer sadly isn't showing the data for other tags like const or readonly or protected.   Possibly the were showing up from preview.php.

[2012-06-06 07:34] wkeese commented on #13
PS: I meant to say that private tags are working for methods.   I'm not seeing the tags handled for scalars, such as in dijit/_editor/RichText.js:

[code]

which produces:

[code]

[2012-06-06 08:14] wkeese opened #18 "attribute explanations should be treated as markdown (I think)"
Although for unknown reasons the summary is supposed to be plain text, my understanding is that attribute definitions are markdown.   For example from _WidgetBase.js:

[code]

The generated XML doesn't have `<pre>` or `<code>` for those example blocks, nor are there any `<p>` tags to separate the paragraphs (including the last two paragraphs):

[code]

[2012-06-06 08:52] wkeese opened #19 "support for classes in module return values"
IIUC the plan was that for modules that return a hash containing classes, that all of each class' data will be be shoved into the description of that attribute.

So for example dojox/gfx/shape.js has:

[code]

But there's no real info about Rect in the output file:

[code]

cc @cjolif

[2012-06-06 11:08] cjolif commented on #15
I can modify the source code for removing the question mark is if needed. That said I have another problem afterwards. See for example dojox/charting/Chart.setTheme. Now the parameter of type dojox.charting.SimpleTheme is correctly set. However it also automatically pulls into the description the parameter description the dojox.charting.SimpleTheme class description and I don't really want that in

[2012-06-06 16:33] cjolif commented on #15
Actually this is even worst than I thought not only all the properties of the classes are put in the description but the class type is entirely removed. Just like for a kwArgs. I don't seem to have the permission to re-open that one but I think it should be. @wkeese as you created maybe you can re-open it?

[2012-06-06 17:32] ttrenka commented on #13
There's code halfway sketched for it in the current viewer, but I never implemented it in full mainly because there was some major misunderstandings about what those tags actually meant.  I think Bill assumed that it was for typical compiled language attributes (like protected, static, etc), and quite a few others thought it was to enable some kind of tag-cloud markings.

If you have a lucid imple

[2012-06-06 17:40] ttrenka commented on #18
I think your assumption is wrong; from what I'm reading in the 1.6 details.xml file, all of those are assumed to be summaries (i.e. `<summary>` elements), which are _not_ Markdown enabled.

Pretty sure you can't include examples in there as well (at least with the old parser).

[2012-06-06 22:12] wkeese commented on #14
This really shouldn't be closed until you are picking up all the tags.    Maybe the feature doesn't need to be there for 1.8, but clearly from looking at dojo's code base and it's style guide (http://livedocs.dojotoolkit.org/util/doctools/markup#tags) all tags are supposed to work.

Oh hmm, I can't reopen, so I made #20 instead.

[2012-06-06 22:26] wkeese commented on #15
I can't reopen, only Colin can.

But I think the problem is that in the above case you want the parser to just list the type as dojox.charting.plot2d.Base, rather than inlining it, whereas for something like below, you want the definition of dojox.gfx.Point to be inlined, because otherwise the definition is lost.

[code]

How can the parser tell the difference between those two cases?

[2012-06-06 22:33] wkeese opened #20 "tags (except for tags: private) not picked up on methods"
Methods have various tags, for example in _WidgetBase.js:

[code]

They are not being picked up, except for private (#14), but they should be.   According to dojo's code base and it's style guide (http://livedocs.dojotoolkit.org/util/doctools/markup#tags) all tags are supposed to work.

[2012-06-06 22:44] wkeese commented on #18
Ugh, @ttrenka you are right... so does that mean that this is also invalid?

[code]

(because the numbered list will be smushed into plain text)

[2012-06-07 00:22] csnover opened #21 "follow prototype chain for objects with missing summaries, etc."
If there is a constructor, etc. and it has empty metadata summary/description, walk the prototype chain to try to find a parent object that has those filled out.

[2012-06-07 01:43] wkeese commented on #15
Talked to Colin on IRC about this.    You can avoid the inlining by using slashes:

[code]

or to access an attribute in a module return value:

[code]

Colin could also theoretically put in a hack to figure that out automatically, but _only_ if SimpleTheme was a dependency of Chart, so you would need to add `/*==== , "dojox/charting/SimpleTheme" =====*/` to Chart.js' dependency list.    Not sure

[2012-06-07 01:46] csnover opened #22 "Don’t inline parameter types that have relatedModule"
Check to see if the given value for a resolved type has a relatedModule and if it does, update the type to be an AMD MID in the output and do not inline. Otherwise, continue inlining as normal.

[2012-06-07 08:58] wkeese commented on #21
cc @pruzand

[2012-06-07 09:03] cjolif commented on #15
Two things:

1/ SimpleTheme is already a dependency for Chart. But that might not be indeed the case for all of the cases where I have this problem.

2/ I think the number of cases were we want inlining (basically kwArgs use-case) is far lower than the number where we don't want? (regular parameters). So it sounds strange to me to request changing the doc for the majority of the cases to deal with

[2012-06-07 09:37] wkeese commented on #15
Sorry, I was confused about the dependencies... the problem actually is _triggered_ by having SimpleTheme as a dependency of Chart... if it weren't a dependency, the parser wouldn't be able to inline SimpleTheme's definition since it would have no idea what it is.

Anyway, the *main" reason to use slashes rather than dots is that the current charting code still hasn't been fully converted to basel

[2012-06-07 11:05] cjolif commented on #15
Ok, I will move to slashes. That said I won't do that on the entire dojox code base so I'm afraid we will get problems somewhere else.

[2012-06-07 11:42] cjolif commented on #19
There is similar but slightly different issue in dojox/color/Palette. That modules define the Palette class. On this Palette class it mix-ins a generators property which itself contains several functions: analogous, monochromatic etc... These  functions used to be documented in a sub-object of Palette named generators. They are not output in the XML anymore.

[2012-06-07 13:27] wkeese opened #23 "module level summaries ignored"
[code]

generates:

[code]

IIUC the idea was that you could have a summary either on the module, or on the return value (and there shouldn't be duplication).    But it seems only the summary on the return value works.

cc @cjolif

[2012-06-07 14:01] AdrianVasiliu commented on #23
This also holds for "description" and "example", not only the "summary" part of the doc comments.

[2012-06-07 14:54] pruzand opened #24 "The inline "doc hint" for return value type is not taken into account."
Hi,

It seems the current parser does not take into account the "documentation hint" that may be specified for the return value.

For ex:

[code]

which gives:

[code]

Also, if the keywod "returns" is used, it adds an extra <return-type>any</return-type>  element:
        bar : function(){
            // summary:
            //      adf asdf alsfqwe
            // returns:
            //      som

[2012-06-07 15:11] pruzand commented on #24
cc @wkeese

[2012-06-07 16:21] dmandrioli commented on #24
It seems that using only the "returns:" keyword gives an extra null or object return type:

[code]

  or

[code]

[2012-06-08 01:52] csnover commented on #23
No doc parser _ever_ supported these, someone just…started adding them to the code for some reason.

The value of the module is the thing that should have the summary on it. I don’t see being able to do both as a possible thing because the summary and description of a module are imbued by whatever the value of the module happens to be. I realise this is kind of crappy about summarising things like

[2012-06-08 04:15] csnover commented on #13
Since the tags were not actually in use before I would prefer to focus on functionality that used to exist but is broken, so I am going to defer this to the future.

[2012-06-08 04:17] csnover commented on #20
Duplicate of #13; no tags are being output though they are processed.

[2012-06-08 04:17] #20 closed, assigned to nobody

[2012-06-08 05:54] csnover commented on #18
I’m happy to just throw most everything through the markdown parser at this point if you want. Seems like nobody paid attention to the fact that they can’t use markdown everywhere…

[2012-06-08 06:39] pruzand commented on #19
cc @pruzand

[2012-06-08 07:56] cjolif commented on #23
@csnover there are modules that needs to be required to enable a particular feature but for which the return value is rather meaningless. An example is dojox/mobile/compat. It needs to be included so that compatibility with desktop browser of dojox/mobile is enabled. It returns dojox/mobile for convenience and also because it adds some compatibility method on it but that return value is in most ca

[2012-06-08 08:18] AdrianVasiliu commented on #23
From dojox.mobile's point of view, what is important for this release is to have some way, any way, to get documentation for a module which doesn't define any class.
So do you mean that the summary on the value of the module would work already? Or that it may work in the near future?
With a freshly updated checkout of js-doc-parse, I've tried to place documentation for dojox/mobile/compat at 3 dif

[2012-06-08 08:34] wkeese commented on #23
It's natural that we've never supported this before because we've never had an AMD doc parser before.   But I agree that it's not needed in most cases.

Right, this is probably the biggest issue.    (@cjolif - the compat.js example is the same as the NodeList-fx example, both of those modules extend other modules.)

The other issue is the one I mentioned originally, where the module returns a scal

[2012-06-08 08:40] dmandrioli opened #25 "private tags on variables not picked up"
[code]

gives

[code]

[2012-06-08 08:53] AdrianVasiliu commented on #23
Right, the workaround you mention, Bill, does the trick for our dojox/mobile/compat, in the sense both the summary and descriptions are now in the XML. Thanks!
In this particular case the lost metadata for the return value is not that much an issue, since users are not really supposed to do something with the return value of dojox/mobile/compat. Now, of course, if the API doc will include false in

[2012-06-08 08:59] wkeese commented on #23
Good, that may be the best compromise for the 1.8 release.

And at the risk of stating the obvious, you can of course describe the real return value in the summary or description.

[2012-06-08 09:01] cjolif commented on #25
see also #13. Not sure what the right syntax is...

[2012-06-08 09:11] wkeese commented on #18
I'm in favor of parsing everything as markdown assuming @ttrenka, @cjolif etc. don't have any strong objections... it seems like markdown is mostly backwards-compatible with plain text.     Probably there are some theoretical cases where parsing attributes and summary as markdown could break something, but I don't think it would be a big issue in practice.

[2012-06-08 09:33] wkeese commented on #15
Colin says he has a fix where it won't inline the data if there's a relatedModule, and plans to check it in this weekend.

[2012-06-08 12:34] AdrianVasiliu commented on #25
This syntax works fine for me:

[code]

(that is, I do get private="true" in the XML for it).

This also works if there is a doc on the property:

[code]

[2012-06-08 12:45] AdrianVasiliu opened #26 "Regression: the inheritance of doc for property and method overrides seems broken"
In the old Dojo 1.6 API doc, a method override having no doc comments in its source code used to get the doc from the parent class. An example:
http://dojotoolkit.org/api/1.6/dojox/mobile/View#buildRendering
In the XML generated nowadays for such overrides there is no documentation.

Will the doc inheritance be done at the level of XML to HTML conversion? Or will this be fixed at the XML level?
Th

[2012-06-08 15:16] AdrianVasiliu commented on #26
Well, I realize this is a duplicate of https://github.com/csnover/js-doc-parse/issues/21.

[2012-06-08 15:35] cjolif commented on #25
It seems I have the same issue with classes.

[2012-06-08 16:10] cjolif opened #27 "kwArgs inlining mechanism does not work if the kwArgs param is optional"
See for example dojox/charting/action2d/Highlight the kwArgs param of the ctor is optional: __XXXCtorArg? and just making it optional breaks the inlining mechanism.

[2012-06-09 05:06] csnover commented on #26
Duplicate of #21.

[2012-06-09 05:06] #26 closed, assigned to nobody

[2012-06-09 05:08] csnover commented on #25
`// tags:` is never valid for properties, only for objects.

[2012-06-09 05:08] #25 closed, assigned to nobody

[2012-06-09 05:51] #22 closed, assigned to nobody

[2012-06-09 06:11] #18 closed, assigned to nobody

[2012-06-09 07:12] cjolif commented on #25
@csnover What about classes they are objects and it seems it does not work. Do you reproduce ?
Cc: @wkeese

[2012-06-09 07:35] #27 closed, assigned to csnover

[2012-06-09 07:35] csnover commented on #27
Some of the doc blocks in charting are referencing objects that do not exist, so please make sure you fix those or this fix won’t help you. :)

[2012-06-09 07:44] csnover commented on #19
Is there any code in the dojo/dijit namespaces that exhibits this sort of behaviour?

[2012-06-09 08:43] cjolif commented on #27
Thanks, well I know that too well as that's exactly what I spending my time on :-(

[2012-06-09 10:08] wkeese commented on #19
Yes, for example dijit/Tree embeds TreeNode.

[2012-06-09 10:45] wkeese commented on #25
@cjolif, can you give a code example of what you are talking about?

[2012-06-09 11:35] cjolif commented on #25
@wkeese for example dojox/trunk/charting/action2d/_IndicatorElement the class does have a private tag but that is not reflected in the XML (I did not pull the latest updates thought).

[2012-06-10 00:08] wkeese commented on #25
Oh... that seems like a separate issue, you should file a separate ticket for that.

[2012-06-10 15:38] ttrenka opened #28 "Make sure the output contains only one full definition for an object"
The current output of the parser seems to duplicate full object definitions when outputting an XML file; in other words, if more than one module includes the same source object, the entire object's definition seems to be included in the output.

It would be more efficient if the processor looked to see if a module's definition has already been included in the output, and then simply use a self-clo

[2012-06-10 15:42] ttrenka opened #29 "If a field comes from something in an inherited object, don't include the full definition"
Sorry for the long issue titles...

If a field (such as the `postCreate` method defined in dijit/_WidgetBase) has not been overridden, don't include the full definition of that field in the output; instead, let that definition be available by reference using a self-closing node.  In other words, if you were looking at the XML data for dijit/Calendar and `postCreate` has not been overridden, let th

[2012-06-11 07:52] pruzand commented on #24
In order to start the doc update of the source files, I would like to know what's planned to support return type documentation.
According to http://livedocs.dojotoolkit.org/util/doctools/markup,
- the returns keyword "does not include a type, which should appear within the function"
- "Because a function can return multiple types, the types should be declared on the same line as the return stateme

[2012-06-11 08:02] cjolif commented on #24
we have tons of returns: Type, so I hope this will still be supported!

[2012-06-11 09:38] cjolif opened #30 "private tags on classes are not supported"
for example dojox/trunk/charting/action2d/_IndicatorElement the class does have a private tag but that is not reflected in the XML (I did not pull the latest updates thought).

See also #25.

[2012-06-11 12:01] AdrianVasiliu opened #31 "Support for code examples in the API doc of properties"
Would be nice to be able to include code examples in the API doc of properties, just as for classes or methods.

For maximum consistency with the way we include examples for classes and methods, the doc of properties may support an "example" section, say:

[code]

Or at least to be able to include code blocks:

[code]

The "Dojo Inline Documentation" (http://livedocs.dojotoolkit.org/util/doctools/

[2012-06-11 15:39] AdrianVasiliu opened #32 "Making the deprecation information visible in the API doc"
While the user is able to see the deprecation information in the console at runtime (but not by default...), the information is missing in the API doc. It would be nice to introduce doc tags for this purpose.
However, a simple "deprecated" tag wouldn't be enough, it would need to be enriched with the deprecation hints (the arguments of dojo/_base/kernel.deprecated).

[2012-06-11 16:06] mbillau opened #33 "variables that have a "standard keys" name break parser"
It seems that any variables that  have a "standard key" for their name break the parser.

See dijit/_PaletteMixin for an example. Here we have a variable named "summary" that breaks the parser with : TypeError: Cannot read property 'type' of undefined

[code]

I also tested it with 'example' and that also failed (although this file is the only live example I have come across) . Changing the name t

[2012-06-12 12:50] cjolif opened #34 "make js-doc-parse runnable with dojo installed elsewhere than in ./dojo"
If I want to distribute js-doc-parse with a dojo version I don't want dojo to be a child directory of js-doc-parse. I want  for example js-doc-pase in the dojo/utils directory. There should be a way to specify where to load dojo when running the tool.

[2012-06-12 13:29] wkeese opened #35 "return-type of "example:""
If I run

   $ ./parse.sh ../trunk/dijit/form/NumberTextBox.js

I get this strange output listing the return-type from number.js's regexp() function as "example:"

[code]

Strangely it doesn't happen when parsing number.js stand alone.

[2012-06-12 14:28] wkeese opened #37 "exception on field named summary"
Dijit used to parse but now gets an exception in _PaletteMixin.js on a field called "summary":

[code]

[2012-06-13 13:13] AdrianVasiliu opened #38 "The type of properties is unexpectedly influenced by the [private] tag"
Using a [private] flag on a property, its type unexpectedly changes in the generated XML.

Found the following cases (tested with a freshly updated js-doc-parse):
1/ type="Object" becomes type="null" by adding [private] to a property initialized at null.
2/ type="Object" becomes type="object" by adding [private] to a property initialized at {}.
3/ type="Number" becomes type="number" by adding [pri

[2012-06-13 14:20] ttrenka commented on #37
This is actually a dupe of #33.

[2012-06-14 00:04] wkeese commented on #37
Oops, thanks, you are right.

[2012-06-14 00:04] #37 closed, assigned to nobody

[2012-06-14 00:07] wkeese commented on #33
FYI this is breaking parsing of three files in dojo:
- dijit/_PaletteMixin.js
- dojox/grid/enhanced/plugins/Pagination.js
- dojox/image/FlickrBadge.js

[2012-06-14 01:11] csnover commented on #38
Probably not excluding the tags correctly when reading the type from the docblock.

[2012-06-14 01:16] csnover commented on #34
I don’t plan to support this now or possibly ever. You can load the parser using your own bootstrap script if you need to redirect dojo and register package paths differently and it should work, but I do not expect this to be a common case.

[2012-06-14 01:19] wkeese commented on #32
Note that a lot of code is using

[code]

or

[code]

[2012-06-14 01:20] csnover commented on #32
This data is already being put in the XML output where possible. However,
1. these deprecation warnings often rely on information only available at runtime (like whether or not someone set a property before calling a method)
2. the viewer has no ability to consume this output.

I don’t plan on tracking viewer issues here, at least for now, so I’m going to close this issue since the parser already

[2012-06-14 01:20] #32 closed, assigned to nobody

[2012-06-14 01:21] csnover commented on #31
The second syntax should already work. The first syntax will never work because example could be the name of the property.

[2012-06-14 01:21] #31 closed, assigned to nobody

[2012-06-14 01:22] wkeese opened #40 "non-prototype methods not documented properly"
See dojo/Declare.js.   It declares methods from the constructor rather than in a prototype:

[code]

None of that information is showing up in the API output, it just has

[code]

[2012-06-14 01:23] csnover commented on #29
At this point I think this needs to go to future because I’m not sure I will be able to tackle deduplication and keep everything in the output before the due date for 1.8, but it will be one of the first things that I look at then. If I run out of bugs I will loop back and try to fix this before then.

[2012-06-14 01:24] csnover commented on #28
Is this different from #29? If so, how?

[2012-06-14 01:26] wkeese commented on #40
@cc novemberborn

[2012-06-14 01:38] wkeese commented on #28
I don't understand this ticket either.   The only duplication of "objects" that I know of is of kwargs definitions, and perhaps for modules that return other modules (like how NodeList-data.js returns NodeList).

(In other words, please give a specific example of a duplicated object definition.)

[2012-06-14 09:02] AdrianVasiliu commented on #31
I confirm, the second syntax works (tested with the latest js-doc-parse). Great, thanks.

For the first syntax, well, we could imagine avoiding the ambiguity you mention by using a more distinctive name than "example", say "doc-example" or "js-doc-example". Or we could even wonder why the name of the property needs to be repeated in the doc comment and redesign the syntax for doc comments of prope

[2012-06-14 09:03] AdrianVasiliu commented on #31
I confirm, the second syntax works (tested with the latest js-doc-parse). Great, thanks.

For the first syntax, well, we could imagine avoiding the ambiguity you mention by using a more distinctive name than "example", say "doc-example" or "js-doc-example". Or we could even wonder why the name of the property needs to be repeated in the doc comment and redesign the syntax for doc comments of prope

[2012-06-14 09:03] AdrianVasiliu commented on #31
I confirm, the second syntax works (tested with the latest js-doc-parse). Great, thanks.

For the first syntax, well, we could imagine avoiding the ambiguity you mention by using a more distinctive name than "example", say "doc-example" or "js-doc-example". Or we could even wonder why the name of the property needs to be repeated in the doc comment and redesign the syntax for doc comments of prope

[2012-06-14 09:19] AdrianVasiliu commented on #32
Well, concerning the deprecation data "already being put in the XML where possible", this does not seem to hold for these doc comments of properties and methods:

[code]

The generated XML:

[code]

Maybe just https://github.com/csnover/js-doc-parse/issues/13 which hurts here too.

On the other side, even if the "deprecated" tag would make its way into the XML then HTML doc, this would leave aside

[2012-06-14 09:23] AdrianVasiliu commented on #32
(Of course, waiting for a better solution, the solution would be to write the deprecation information directly in the comment of the property or method.)

[2012-06-14 12:34] ttrenka commented on #28
I'll try to find you an example when I can grab the latest details.xml file.  Mostly this issue is open to keep track of _only_ duplicated objects; its different from #29 in that that ticket is intended to track the masking of fields within an object.

[2012-06-14 12:34] ttrenka commented on #29
Sounds like a plan.

[2012-06-14 13:17] ttrenka commented on #28
Just grabbed the latest details.xml from @wkeese and so far not seeing duplicated objects.  I'm going to leave this open for now though; the file I'd examined before was only for Dijit, and I saw dups there (particularly when it came to dependencies from other packages).

[2012-06-14 14:58] ttrenka commented on #28
I'm looking at the output for just dijit/form, and it would seem that the duplication I saw two weeks ago is no longer there...so I'm guessing this is no longer relevant. Closing it out.

[2012-06-14 14:58] #28 closed, assigned to nobody

[2012-06-16 14:42] ttrenka opened #41 "Decide how to handle djConfig"
In previous iterations of the parser/viewer, djConfig was handled as a "special case" object in an attempt to make it clear what various configuration options are available to a user.  The problem with it was that lots of various configuration options were attached to different references of the same object; for instance, there may have been "isDebug" attached to djConfig, while other options may

[2012-06-16 23:30] csnover commented on #41
I don’t think it really matters. There are other resources that describe how to install and configure the toolkit in the tutorials series.

[2012-06-17 03:55] wkeese commented on #41
In the AMD world, djConfig has been replaced by the dojo/_base/config module (see http://livedocs.dojotoolkit.org/dojo/_base/config), although unfortunately some code is still accessing it through dojo/_base/kernel::config... but anyway I think the dojo/_base/config module page would list of configuration options.

I updated that module to list all the definitions of dojo core and dijit flags, and

[2012-06-17 17:04] ttrenka commented on #41
I'll deal with it in the doc viewer then, and close the issue. There are some dojox projects that look for things within that particular object; we'll deal with it when the time comes.

[2012-06-17 17:04] #41 closed, assigned to nobody

[2012-06-17 20:14] csnover commented on #40
The way that `dojo/Deferred.js` is written is bizarre so I am not sure if this can be considered a parser bug or simply a limitation of the way the static analysis is currently performed.

What’s happening here is that the constructor function is evaluated first, which means all the functions in the constructor are added as members of the prototype of the constructor…then the defined prototype obj

[2012-06-17 20:28] #33 closed, assigned to csnover

[2012-06-17 20:50] #38 closed, assigned to csnover

[2012-06-17 22:41] wkeese commented on #40
Oh I didn't notice that strange stub prototype before, but now I see it:

[code]

I don't understand why that is there.

I agree that moving the method descriptions to the prototype (while leaving the implementations where they are) would solve the problem.    (Alternately just removing that prototype completely would solve the problem, but presumably it's there for some reason.)

@novemberborn -

[2012-06-17 23:53] wkeese opened #42 "can't set summary/description for a module using exports"
It's near-impossible to setup a summary/description for modules using "exports".   For example see dojo/dom-attr.js.

I tried to hack it with by adding this to the end of the file, but it didn't work:

[code]

See also http://bugs.dojotoolkit.org/ticket/13769#comment:40, it's not trivial to remove the use of exports.

[2012-06-18 01:08] wkeese commented on #23
(in progress comment)

Modules difficult/impossible to work without module level summary (or some other feature):
- exports modules (dojo/dom-attr, etc.) see #42
- dojo/main - returns the dojo/_base/kernel object but the summary is importantly different: it should say that dojo/main forces all the dojo/_base modules to be loaded
- dojo/on, dojo/has: these module return a function with other functi

[2012-06-18 08:58] novemberborn commented on #40
The thinking was that defining those methods on the prototype would help engines predict the shape of the object — admittedly I don't understand enough of engine internals no know whether that really helps.

Simplest thing would be to just remove the prototype. Yay or nay?

[2012-06-18 10:30] wkeese commented on #40
Oh we can just remove it?    Great.   I confirmed that removing the prototype makes the method descriptions show up in the doc.    There's one doc parser bug: I can't set a description on the promise property.   But that's relatively minor.

I'll update Deferred.js.

[2012-06-18 10:30] #40 closed, assigned to csnover

[2012-06-18 11:59] wkeese opened #43 "can't set summary for scalar non-prototype property"
See newest dojo/Deferred.js.    The definitions for the methods are coming through, but the definition for "promise" isn't.

[2012-06-20 01:22] wkeese opened #44 "missing methods in singleton from implicit class"
The old version of dojo/behavior.js ([28901]) had code like:

[code]

The parser wasn't picking up the function definitions.

I worked around the problem though.

[2012-06-20 08:57] wkeese opened #45 "lang.extend({}, stuff) puts stuff in Object.prototype, thus appearing everywhere"
When running parse.sh on the dojo/ directory (dojo core code), it gets confused about which methods belong to which objects.   For example, AdapterRegistry is listed as having the animation functions:

[code]

[2012-06-20 12:37] wkeese commented on #45
OK, I managed to work around the problem by cleaning up the usage of NodeList, see http://bugs.dojotoolkit.org/changeset/28941/dojo.

It was partially caused by the module-level-summary workarounds where files like NodeList-fx.js have

[code]

So, not sure if there's a bug here or not, you can just close it if you like.

[2012-06-20 22:02] wkeese opened #46 "HTML in markdown not properly encoded"
dojo/parser.js has this code:

[code]

I think the literal "<script..." is valid syntax since this is markdown, not HTML.    However, the parser doesn't double-encode the value, so we end up with

[code]

which means the value of the summary node evaluates to

[code]

rather than what we want:

[code]

cc @kitsonk

[2012-06-20 22:12] csnover commented on #46
Yes this is true; Markdown is actually a weird superset of HTML so if you’re not putting your HTML `<in code blocks>` it will be treated as HTML. I can enable `sanitize` in the Markdown parser if you think that’s the right thing to do here though I don’t know _exactly_ what that means at the moment (i.e. whether it deletes the tags or just encodes them).

[2012-06-20 22:52] wkeese commented on #46
Oh I see, OK thanks, I'll just fix the parser code, that seems safer.

[2012-06-20 22:52] #46 closed, assigned to nobody

[2012-06-21 04:34] csnover commented on #42
Do you have any thoughts on the way this should be handled? It seems impossible with dojodoc. jsdoc could handle it just fine but we have no processor for that yet.

[2012-06-21 05:50] wkeese commented on #42
I had one suggestion above but it's kind of yucky because the module is both using exports and returning a value.

This seems like a similar problem to NodeList-fx.js etc., where we need a summary/description on the module itself, which overrides whatever summary/description is attached to the return value.

[2012-06-21 15:41] cjolif commented on #21
@damiengarbarino I think that's the one you face in the calendar... (on methods not constructors).

[2012-06-21 15:56] damiengarbarino commented on #21
Does it also suppose to inherit documentation of overloaded properties (typical use case is changing the default value on a subclass)?
Thanks,
Damien

[2012-06-22 09:34] wkeese commented on #19
Maybe we should just output the info for dijit/Tree.TreeNode as though it were a module (named dijit/Tree.TreeNode).   Then it would display nicely in the viewer.

[2012-06-22 09:40] cjolif commented on #19
That's a reasonable workaround for me. @pruzand would it "fix" the gfx issue as well? I guess yes?

[2012-06-22 09:41] pruzand commented on #19
I guess so...

##

Patrick

[2012-06-23 17:29] csnover commented on #45
The way that prototypes are set for non-Function values is a bit wrong right now, which means that if someone does `lang.extend({}, stuff)` the keys from `stuff` will get set on `Object.prototype` even though `{}` does not have a prototype (only `__proto__`).

[2012-06-24 02:40] wkeese commented on #45
Ha ha, OK yes that explains the bizarre behavior.   Anyway this isn't blocking the release, you can set it to milestone future.

[2012-06-24 11:19] wkeese opened #47 "old-school class declarations not tagged as class-like"
The code below uses lang.extend() rather than dojo.declare() to create a "class":

[code]

The parsed output is:

[code]

The parser clearly recognizes this as class-like at some level, hence the faux `constructor` method.

However, the object is marked as type="function".   I would expect type="constructor" classlike="true".

[2012-06-24 19:12] csnover commented on #47
According to the ES spec, when defining a new function, it is given a prototype with a `constructor` property (§13.2). This doesn’t mean a function _is_ a constructor; just like the existence or non-existence of the `prototype` property, it just means it _may_ be used as a constructor. Usage of `lang.extend`, however, is a concrete indicator that a function is a constructor so I’ll be sure to upda

[2012-06-24 21:12] csnover opened #48 "jsdoc processor"
Create a processor for handling jsdoc code comments.

[2012-06-24 21:12] csnover opened #49 "HTML exporter"
Create an exporter that outputs a beautiful tree of HTML.

[2012-06-24 22:31] csnover opened #50 "Create package.json"
Needed for installation via npm cpm etc.

[2012-06-25 10:40] wkeese commented on #47
I see.   Regardless though, seems like you should mark it as class-like if any properties are added to the prototype, or added directly to the object via this.foo = ... syntax, ex:

[code]

[2012-06-25 13:42] dmandrioli opened #51 "Property summary substitution issue"
When running the parser on dojox/dgauges, the summary of the property dojox/dgauges/LinearScaler.minorTickInterval is correct.

But when running the parser on dojox, the summary of this property is replaced by the summary of dojox/Treemap.labelThreshold...

[2012-06-25 15:05] AdrianVasiliu opened #52 "Incorrect contamination of API doc by properties of superclasses added by unrelated classes"
We have a number of occurrences of classes (for instance in dijit and dojox) where a module adds properties to some class with code such as:

[code]

Now, the effect on the API doc is that the doc of completely unrelated classes wrongly shows that they would have these properties, if and only if these unrelated classes happen to be parsed by js-doc-parse after the class which extends its baseclass

[2012-06-25 15:43] csnover commented on #51
`NaN` is being treated as a global object reference instead of a value so comments are being incorrectly over-associated with it.

[2012-06-25 15:47] csnover commented on #52
I’m not sure I understand. You shouldn’t extend `WidgetBase` if you don’t want it to show up in the docs. I do need to fix the output of docs to read from mixins directly, however.

[2012-06-25 16:35] AdrianVasiliu commented on #52
Well, the fact is that there are dozens of modules in dijit and a couple in dojox.mobile which do extend WidgetBase to add properties or methods.
To take one example among many, dijit._BidiSupport adds bidi-related APis to WidgetBase, documented as follows:
"Including this module will extend _WidgetBase with BIDI related methods."
And currently the doc of widgets which do NOT include this module u

[2012-06-27 11:00] AdrianVasiliu commented on #52
Concerning a way to tell the parser to skip a given piece of code, maybe it could be, for instance (just brainstorming):

[code]

[2012-06-27 13:50] wkeese opened #53 "kwargs description lost"
Although dojodoc format allows methods and classes to have both summaries and descriptions, scalar parameters and properties just have summaries, listed like

[code]

(where the above example could be either a foo parameter to a function, or a foo property of a class)

However ,when kwArgs gets inlined (ex: charting/action2d/PlotAction's constructor, third parameter), the parameter or property end

[2012-06-27 14:08] wkeese commented on #53
Or... did you make it the description intentionally so that the viewer could differentiate between the real summary and the list of properties?

[2012-06-28 00:19] wkeese commented on #53
I decide to enhance the doc viewer to handle description tags on properties and parameters, so closing this ticket.

Note that the description field on properties and parameters is different than the description field on methods and classes in the sense that the former supplements the summary, rather than superceding it.    In other words, for scalar properties, both the summary and the descriptio

[2012-06-28 00:19] #53 closed, assigned to nobody

[2012-06-29 12:19] wkeese opened #54 "return type "undefined" listed unnecessarily"
This is different from #24.

I'm seeing "undefined" listed unnecessarily as a return type from dijit/a11y.js::hasDefaultTabStop().   A simpler test case is:

[code]

It gets flagged as having two return types.

There's something weird going on because I can make the hasDefaultTabStop() definition work by changing the definition of isTabNavigable() (which calls hasDefaultTabStop()).

[2012-07-01 11:11] kitsonk opened #55 "Wrapping <pre> in <code> unecessary"
It seems that for examples, the js-doc-parse is wrapping examples in both `<pre>` and `<code>`.  This is causing spacing issues in the API viewer, which can be somewhat offset by CSS styling, but it would be very handy that if something is already in a `<pre>` block, that it doesn't also get `<code>` wrapped.

[2012-07-02 00:40] wkeese commented on #55
I'm actually searching for `<pre><code>` in the API viewer as a way to turn on the syntax highlighting, so I replace `<pre><code>` with something else.   You must be looking at examples w/out the syntax highlighting... what's an example of what you are looking at?

[2012-07-02 05:16] kitsonk commented on #55
If you look at dojo/query for example in the API viewer.  It is the Usage
blocks.  Before I checked in the CSS, you saw the yellow code block, but
the text was gray lines with a border.

So maybe you aren't turning on the highlighting except for examples?  Also,
which is a separate issue, the code uses some bullet markdown which the
js-doc-parse thinks is code.

I can standardise rstwiki to also m

[2012-07-02 06:44] wkeese commented on #55
Ah I see.

I just fixed the problem with the lists appearing as code (see [[29103]](http://bugs.dojotoolkit.org/changeset/29103/dojo)).

And yes, the syntax highlighting is only turned on for examples, perhaps it should be done everywhere?

Regarding your claim that "wrapping `<pre>` in `<code>` is unnecessary", the [HTML5 spec](http://www.w3.org/TR/html5/the-pre-element.html#the-pre-element) says

[2012-07-02 07:59] kitsonk commented on #55
Ah, ok!  I CSS'ed the interference away on the API viewer, so if it is the proper way to do it, then so be it.

[2012-07-02 07:59] #55 closed, assigned to nobody

[2012-07-02 23:20] wkeese opened #56 "support nested lists"
According to http://stackoverflow.com/editing-help/#advanced-lists, markdown supports nested lists by indenting four spaces.

However, it doesn't work in our doc, for example dojox/string/BidiEngine.js:

[code]

Our doc is actually using tabs rather than spaces, so as an experiment, I tried switching to spaces, but that didn't help.

cc @AdrianVasiliu

[2012-07-02 23:48] wkeese commented on #56
From testing at http://daringfireball.net/projects/markdown/dingus, lists and nested lists work, but the (outer) list _cannot_ be indented.   I fixed numerous violations in the dojo source related to indentation so I think that if the doc parser just strips the first two tabs, or whatever the indent is on the first line, then things will work.

[2012-07-03 00:59] wkeese commented on #56
Also note that with Neil's parser nested lists were hacked like this (taken from dojo/selector/acme.js):

[code]

That doesn't work anymore either.

[2012-07-03 06:51] kitsonk opened #57 "Issue with DTK Commit 29111"
It looks like a commit to fix the comments has broken the parser.  This changeset [29111](http://bugs.dojotoolkit.org/changeset/29111/dojo) seems to be causing the following when running the parser:

[code]

[2012-07-05 02:18] wkeese opened #58 "return query(...) // dojo/NodeList not working"
See for example dijit/form/MultiSelect :: getSelected():

[code]

The XML output is listing the type as undefined:

[code]

[2012-07-05 03:35] csnover commented on #58
This is expected. See “Return Value” section at http://dojotoolkit.org/community/styleGuide#Documentation.

[2012-07-05 03:35] #58 closed, assigned to nobody

[2012-07-05 05:07] wkeese commented on #58
That page is just talking about the description of the return value, not the doc-hint for the type.

But anyway this looks like a dup of #24... that doc-hints for return types aren't working at all.

[2012-07-05 06:50] kitsonk commented on #57
This appears to be related to an uprev of esprima.  Not sure what is going on, but I had updated the esprima submodule and it caused this issue.  I reverted back and it fixes it.  So there is likely to be a regression when esprima gets updated.

[2012-07-05 09:45] wkeese commented on #56
I'll work on a patch for this.

The first problem is here:

[code]

It's indiscriminately trimming all leading whitespace, where it should only be trimming the indent of the value (by our standards, two tabs).   That value isn't being recorded at all, so this is more of a case of an unimplemented feature than a bug.

The second issue is that you are expanding tabs to 2 spaces, rather than 4.   Not

[2012-07-05 14:20] wkeese commented on #56
https://github.com/wkeese/js-doc-parse/tree/dojodoc

I'll do some more checking tomorrow though, to make sure everything is OK, and maybe work on the return  codes problem too.

[2012-07-05 16:37] cjolif commented on #19
@csnover do you think you can make that one for 1.8? Because otherwise gfx doc is pretty much broken. @wkeese  did you adopt another strategy for TreeNode?

[2012-07-05 20:05] kitsonk commented on #52
This is causing me a bit of grief in the inlining of the API in the rstWiki.  In my mind, there is a difference between "inherited" and "extended".  If you look at dijit/_WidgetBase it is a mess, because of the number of things that tag onto it.  For example dojox/layout/TableContainer adds "colspan".  The logic for inherited should only be true if the it is in the declaration dependency chain, no

[2012-07-05 22:31] wkeese commented on #19
I didn't do anything for TreeNode, although it would be easy to split off to a separate file in the tree/ directory.

I still like my previous idea, to treat dijit/Tree.TreeNode as a pseudo-module, although (note to self) that would require updating the hyperlinking code so that dijit/Tree.TreeNode maps to page api/1.8/dijit/Tree.TreeNode rather than api/1.8/dijit/Tree#TreeNode.

[2012-07-06 02:08] wkeese commented on #24
dojodoc.js::generateMetadata() has code for the doc-hints:

[code]

The problem is that generateMetadata() isn't called on return statement at all.   Reproducible with a simple test case like:

[code]

Looks like a problem in esprimaParser.js:   Nothing inside the function is getting processed.  (I can add a for() loop outside the function and see ForStatement getting called, but if the for() loop

[2012-07-06 07:26] wkeese commented on #56
OK, that's the patch, seems to be working, @AdrianVasiliu you see any issues?

[2012-07-06 07:46] cjolif commented on #52
@csnover I can understand your argument about not extending it if we don't want it to appear (even thought this is not always feasible). That's one thing. But the other thing is that there seem to be a bug in the sense that depending on the parsing order the property might appear or not on the class it is added to. I think we need at least to do something on that one.

[2012-07-10 04:46] wkeese commented on #19
I fixed this with #60, just needs to be merged.

[2012-07-10 07:59] cjolif commented on #19
thanks a lot @wkeese

[2012-07-11 13:43] wkeese opened #61 "property's summary gets assigned to the property's value"
dijit/form/TextBox's module level summary is:

[code]

However, it's appearing in the API viewer (and presumably the details.xml) as the summary from a property of InlineEditBox whose _value_ is TextBox:

[code]

[2012-07-13 20:05] kitsonk opened #62 "monkey-patched functions erase original function doc"
The parser is not handling dojo/number::round() properly.  The code is detecting an IE issue with rounding and then overrides it's own method to fix it.  It appears js-doc-parse is taking this as the "documented" method, and ignoring the previous full definition of the method.

[2012-07-13 22:38] wkeese commented on #62
So, you are talking about this monkey-patching code:

[code]

# workarounds

I just dealt with a bunch of problems like that, like for example when dojox/mvc overrides some methods in dijit.   Some possible workarounds are:

## if statement

Instead of monkey patching the function, just use an if() statement:

[code]

It's dead simple, but degrades performance on modern browser.    Whether or not

[2012-07-14 06:07] kitsonk commented on #62
No, that is fine if there is a workaround for the parser.  What is the proper etiquette for updating comments for documentation purposes?

[2012-07-14 06:07] #62 closed, assigned to nobody

[2012-07-14 08:35] wkeese commented on #62
I've just been updating them, without any "etiquette".   I don't think anyone minds, or that it's practical to coordinate every documentation fix.

[2012-07-15 00:20] wkeese commented on #62
PS: for some reason the "doc comment trick" I listed above didn't work in this case, but I checked in a similar fix:

[code]

[2012-07-17 08:40] wkeese opened #63 "fx.js makes other file lose easing and duration kwargs definition"
See dojox/charting/action2d/Highlight.js.   It has a kwargs definition

[code]

But `easing` and `duration` don't show up in the doc.

The test (Highlight.js) can be reduced to:

[code]

And it turns out the thing that confuses the parser is the `duration` and `easing` parameters to basefx.anim, in fx.js:

[code]

cc @cjolif

[2012-07-17 10:28] wkeese commented on #63
I can work around the problem by not using a function() at all:

[code]

So probably we'll checkin that workaround, but you can reproduce the bug against [26295] of dojo.

[2012-07-18 23:20] wkeese commented on #63
Probably http://bugs.dojotoolkit.org/ticket/12467 is the same problem, but we can't use the workaround above because it involves inheritance.    Maybe using dojo.declare() would be a workaround.

[2012-07-19 12:40] kitsonk opened #64 "kwargs definition using declare() to extend from plain function() broken"
The dojo/store/JsonRest defines __QueryOptions as

[code]

Store.QueryOptions is defined as:

[code]

The properties from the superclass Store.QueryOptions don't make it into __QueryOptions.

[2012-07-19 14:38] wkeese commented on #64
I worked around this by using declare() to declare the superclass, see  http://bugs.dojotoolkit.org/changeset/29333/dojo and http://bugs.dojotoolkit.org/changeset/29354/dojo,   That worked fine.   So marking the milestone as future (low priority).   You can reproduce the problem by checking out [29332] or earlier.

[2012-07-19 23:32] wkeese opened #65 "inline expansion of union types with kwargs doesn't work"
See for example dijit/place.js, which does:

[code]

`anchor` is either DomNode or a dijit/place.__Rectangle, and it should list the properties of __Rectangle in the API doc either as a nested table or a bullet list (js-doc-parse is in charge of the former).

I tried some defining a local variable called __Rectangle:

[code]

but that didn't work either.

[2012-07-22 03:18] wkeese commented on #65
The workaround is to specify the type as a MID+property, like this:

[code]

Then it turns into a hyperlink to a separate page w/the definition for that type.

I did the workaround, so this isn't critical.

[2012-07-22 22:03] wkeese commented on #13
This is in my patches to the parser, https://github.com/wkeese/js-doc-parse/commit/9ca039cf4433c865716d891a8cf926bc37428fb1 and https://github.com/wkeese/js-doc-parse/commit/7d5f3bb4342f32720e890f0902be638b9454a5cc

[2012-07-23 12:21] wkeese opened #66 "comment on line declaring export variable masks summary"
dojo/_base/array.js had:

[code]

Yet for some reason the summary didn't end up in the details.xml file.

Same for dojo/_base/unload.

[2012-07-23 16:22] csnover commented on #66
what’s with the `// the export object` comment on the previous line? i wouldn’t be surprised if that was causing the dojodoc processor to think that it’s not a dojodoc block and to ignore it.

[2012-07-24 04:54] wkeese commented on #66
Cool, getting rid of the comment works around the problem.    There was no special purpose to the comment, just an explanation of what the `array` variable was.

[2012-07-25 00:26] csnover commented on #66
I don’t think this is really a bug in the parser, it’s intentional, designed to avoid when someone does something like:

[code]

[2012-07-25 00:26] #66 closed, assigned to nobody

[2012-07-25 23:14] wkeese opened #67 "fragile regex for union types"
See dojo codebase at http://bugs.dojotoolkit.org/changeset/29378/dojo.    width is specified as a String or Number, but shows up as undefined in details.xml:

[code]

The problem is the spaces around the vertical bar; they confuse the parser.   Ideally it would allow for them.

I updated the code to use no spaces, so it's not an urgent issue.

[2012-07-26 05:07] wkeese opened #68 "inline return types often ignored"
See for example dojox/gfx/matrix.js:

[code]

The return type merely shows up as undefined.   You can workaround by adding a

[code]

to the top level summary section.   (Therefore, to reproduce this bug, remove the // returns: ... from the top of the methods in that file.)

[2012-07-26 11:11] wkeese commented on #63
I worked around this by using declare() or a plain hash for all kwargs types.

[2012-07-26 11:17] wkeese opened #69 "properties added from one module to another sometimes don't show up"
When moduleX adds properties to moduleY's return value, they show up / don't show up in moduleX's documentation based on which module gets parsed first.    Which is alphabetical.   See #52 for more info.

(I split this this from #52 to avoid confusion)

[2012-07-26 11:19] wkeese commented on #52
The way to "tell the parser to skip a given piece of code" varies by the piece of code, but in this case an easy way is:

[code]

The main problem documented in this ticket has been solved by modifying the dojo code in this way.

As for the second issue, I split it off from here, into #69.

[2012-07-26 11:19] #52 closed, assigned to nobody

[2012-07-26 11:21] wkeese commented on #47
Some example modules that need to get marked as constructors:
- dojo/AdapterRegistry
- dojo/Deferred
- dojo/DeferredList
- dojo/Evented,

[2012-08-10 19:58] wkeese opened #70 "dojodoc for properties with dashes ignored"
See aria-describedby in dijit/Dialog.js.    The description is ignored, presumably because of the dash.

I filed http://bugs.dojotoolkit.org/ticket/15835 to consider changing this to camel case for 2.0, but would be nice to get the doc parser running correctly for 1.8.

[2012-10-15 04:39] csnover commented on #57
Feel free to reopen this when esprima 1.0 is tagged/released if this is still an issue (should be soon). It is entirely possible that something in newer esprima is working differently that breaks this, but it’s also possible it was some regression introduced in between version releases.

[2012-10-15 04:39] #57 closed, assigned to nobody

[2012-10-15 04:43] csnover commented on #67
I prefer to think of it as “strict” rather than “fragile”. For the sake of consistency I would prefer to keep it the way it is, unless there is some mass uprising against such a decision. These union types are not actually documented anywhere in the dojodoc guides and in jsdoc they are whitespace-free.

[2012-10-15 04:43] #67 closed, assigned to nobody

[2012-10-15 04:46] #34 closed, assigned to nobody

[2012-10-15 04:54] csnover commented on #56
Same as #59

[2012-10-15 04:54] #56 closed, assigned to nobody

[2012-10-23 13:20] spaceone opened #71 "js-doc-parser errors"
Here some thinks which can be fixed either in js-doc-parser and the extensions itself (dgrid, xstyle, put-selector):
dgrid/Selection.js line 23
         //allowSelectAll: Boolean
parser crashes because there is a space missing. your decision to allow space or ignore that line with a comment instead of tracing!

This is an error i don't understand (please give me the reason so that i can fix it for

[2012-10-23 13:56] csnover commented on #71
The parser is intentionally designed to fail on messy or invalid docblocks. That code needs to be fixed.

[2012-10-23 13:56] #71 closed, assigned to nobody

[2012-10-23 15:45] wkeese commented on #71
Note the problem with https://github.com/SitePen/dgrid/blob/master/List.js#L732 is the indentation.  The second paragraph of the description for set() needs to be indented by another tab.

I don't know what's going on with xstyle/shim/transition.js though.

[2012-12-14 13:27] aramk commented on #2
Is there any way of preventing an http request from being used as a folder path?

`ERR: earth/Geocoder.js:17:2 Error: ENOENT, no such file or directory '/Users/Aram/Development/Java/MUtopia/Code/mutopia-gui/src/static/https:/www.google.com/jsapi.js'`

My source:

<pre><code>define([
    'dojo/_base/declare',
    'dojo/_base/lang',
    'dojo/request/script',
    'earth/wkt/Extensions',
    // Requi

[2012-12-25 19:29] csnover commented on #2
@aramkocharyan You might be able to set http: and https: as exclusions in your config.js. Obviously attempting to read such dependencies as a module is a bug.

[2012-12-26 01:32] aramk commented on #2
I tried that and it didn't seem to work, so I went with wrapping the URL in a module itself and then excluding that module.

[2013-03-01 21:54] lbod opened #72 "Ubuntu/Canonical process.execPath = /usr/bin/nodejs"
Can the dojo submodule be upgraded to 1.8.3 please?
This fixes the stupid exec location problem on ubuntu where js-doc-parse will fail unless you've make installed it via debian etc.
e.g. execPath: "/usr/bin/nodejs"

1.8.3 works fine for me

[2013-03-03 19:47] csnover commented on #72
Yeah, fixes means fixes, GitHub.

[2013-03-03 19:47] #72 closed, assigned to nobody

[2013-03-04 02:16] csnover commented on #70
Hm. After looking more closely that did not actually seem to fix the problem.

[2013-03-12 13:39] dylans opened #75 "Add support for documenting attach points and attach events"
When creating widgets, it's often difficult to track the various items that are specified in the HTML templates. It would be nice to determine a mechanism for documenting the existing of these values in the HTML template, and parsing them in a useful manner for the API viewer.

[2013-03-12 21:24] wkeese commented on #75
I've thought about documenting attach points too.   One question is what you mean by "attach points".    Just data-dojo-attach-point in templates, or any properties that map to widget DOMNodes, regardless of how the widget was created?   I would think the latter would be more useful, since for example dojox/mobile widgets often have hand-crafted buildRendering() methods.

I've also thought about a

[2013-03-24 04:28] neonstalwart commented on #24
i think this original issue would be fixed by d86cc3a in #80

[2013-03-24 04:53] neonstalwart commented on #35
i can't reproduce this with the [current master](00cc4baed957f906ae98fc99e86b44e75452c69f) in this repo.  is it still a problem?

[2013-03-24 05:19] neonstalwart commented on #61
i just came across this same issue... when `generateMetaData` handles `'Property'` types, if the property happens to be for a value that already has metatdata then we mixin/override the summary of the existing metadata with the one from the property.

as an example, the following snippet wrongly redefines the summary for SimpleQueryEngine because the value is a reference to SimpleQueryEngine.

[co

[2013-03-24 05:26] neonstalwart commented on #61
it does hurt... very badly - so that might not be the answer :smiley:

[2013-03-24 05:34] neonstalwart commented on #65
e8d05e3 in #80 would fix this.  #82 has an explanation.

[2013-03-24 05:37] neonstalwart commented on #68
i believe that d86cc3a in #80 would fix this.

[2013-03-24 05:42] neonstalwart commented on #69
i think e8d05e3 from #80 may resolve this but i'm not sure.  it would be worth verifying.

[2013-03-24 05:52] neonstalwart commented on #75
to doc any property that maps to a node (in a template or not), the simplest solution might be:

[code]

so then the code isn't bloated with property names that don't need to be declared on the prototype but they can still be documented as part of the public API.

i'm probably with @wkeese on attach events
- i don't see why they matter. they are a way to direct events into the widget and so aren't

[2013-03-24 19:34] lbod opened #83 "tree.json no longer generated"
wkeese's repository doesn't accept issues so I'm raising here.
Is it intentional the api tree is no longer generated?
I thought csnover said to me his repo would need to be merged with wkeese's though it looks like a copy of this (also the readme on wkeese's says to install https://github.com/csnover/js-doc-parse.git)

[2013-03-24 19:47] neonstalwart commented on #61
by default, a property's metadata is a copy of the value's metadata but in `generateMetadata` we have enough context to know when a property's metadata should override the value's metadata. so that's what i've done with #84.

@wkeese this really makes a big difference to dojo's docs - you might want to try it out.  i think you'll like it :smiley:

[2013-03-25 00:52] wkeese commented on #61
@neonstalwart Yes I'd love to integrate all your fixes, that's why I'm disappointed that you're working against csnover's branch and forcing me to merge.

[2013-03-25 00:59] wkeese commented on #83
Note that tree.json was never generated from this repository because #19 (specifically f781d99) was never merged.  Also note that the README on https://github.com/wkeese/api-viewer says to install https://github.com/wkeese/js-doc-parse.git.

[2013-04-09 02:00] shioyang opened #86 "ERR: TypeError: Object true has no method 'match'"
The following error occurs, when I issued "parse.bat config=./config.js".
How can I resolve this problem? I would appreciate if you could give some advice.

I did on command prompt with Admin:
        $ git clone --recursive https://github.com/csnover/js-doc-parse.git
        $ cd js-doc-parse
        $ [Edit config.js: configure basePath and replace \ to \\]
        $ parse.bat config=./config.js

[2013-04-09 16:08] csnover commented on #86
The bug tracker is not a support forum. Please post support requests to the [dojo-interest mailing list](http://mail.dojotoolkit.org/mailman/listinfo/dojo-interest).

[2013-04-09 16:08] #86 closed, assigned to nobody

[2013-04-10 00:40] shioyang commented on #86
Hi, thank you for your reply.
ok, I will post this issue to the mailing list.

[2013-07-20 10:13] jk1420 commented on #86
hi shioyang, I has the same problem when i run the parse.bat on win7 64. And I find you had post this issue to the mailing list, i want to know are you had get the reply, and can you reply it to me ? I would appreciate if you could reply it.

[2013-07-20 12:30] shioyang commented on #86
Hi, jk1420:
Unfortunately, I hadn't received any replies to resolve the issue.
I had tried to search and analyze clues and causes of the issue, but I couldn't. So, I had given up...

[2013-07-20 12:34] jk1420 commented on #86
Hi, shioyang:
Thx for your reply, may be I wil try setup linux on a vitual machine to go
on.

2013/7/20 shioyang notifications@github.com

[2014-01-16 06:45] jaypieybut opened #88 "parse.bat config = ./config.js produces error "ERR: TypeError: Object true has no method 'match'""
Anyone who has answer on this? I am stuck in editing the config.js for few days now. anyone who can lend me the generated files or even the exact format of config.js? thanks.

[2014-01-16 07:48] jaypieybut commented on #86
Hi jk1420, we're you able to fix it in running on linux virtual machine?

[2014-01-19 20:28] csnover commented on #88
The exact format of config.js can be found by looking at the config.js in the repository.

[2014-01-19 20:28] #88 closed, assigned to nobody

[2014-01-21 12:14] arodbar opened #89 "dynamic AMD require"
I have a problem when I use a dynamic "require" into function. For example:

[code]

where "key" it is a String argument of my function.

The error that is displayed on screen is:

[code]

I tried to put this file into the exclude files list but it is important that this file is into the documentation. I also tried to put the 'undefined.js' into that list but without any result.

I would like if y

[2014-03-18 08:22] spaceone opened #90 "js-doc-parse traces when require()ing external url"
if "require('https://piwik.foo/');" exists in the code one cannot build the documentation.

[2016-11-15 09:48] adros opened #91 "UMD modules"
I have a module that I use in both Node and Dojo, so I have some kind of UMD mechanism:

[code]

Is there any way to use this syntax and correctly parse the docs? Currently it fails to load this file as dependency of other AMD module.

Or could you give me a hint, what would be the best way to implement custom 'callHandler'? The doc says it's possible, but there are not instructions how should a c

[2016-11-16 09:04] adros commented on #91
If anyone interested, I have succeed in creating custom callHandler for UMD:

[code]